.sheet-doc .cl-entries {
  text-align: justify;  // justify the text in the cover letter entries (this will make the text fill the entire width of the entry)
  font-size: 0.9rem;  // make the font size 0.9rem  (1rem = 16px) (0.9rem = 14.4px)
}

.sheet-edit .cl-edit-entries {
  display: column;  // display the entries as a column
  height: 80%;  // make the entries 80% of the height of the page
}

.cl-edit-entries .card-cl-entry {
  margin: 10px 0; // add a little space above and below the entries
  padding: 10px;  // add a little padding to the entries
  background: white;  // make the background white
  border-radius: 10px;  // round the corners
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); // add a little box shadow
}

.cl_entry {
  position: relative; // position relative so we can position the buttons
  p {
    color: black; // make the text black
  }
  &:hover { // when the entry is hovered
    border-radius: 10px;  // round the corners
    padding: 10px;  // add some padding
    background-color: $indigo-light;  // make the background a light shade of indigo
    .cl-entry-buttons {
      display: flex;  // display the buttons
    }
  }
}

.cl_entry .cl-entry-buttons {
  position: absolute; // position absolute so we can position the buttons
  top: calc(50% - 22.5px);  // position the buttons in the middle of the entry by subtracting half the height of the buttons
  right: calc(50% - 65px);  // position the buttons in the middle of the entry by subtracting half the width of the buttons
  display: none;  // hide the buttons by default, with the &:hover on the entry, we will display them
}

.cl-entry-buttons .icon-btn {
  height: 45px; // make the buttons 45px tall
  width: 45px;   // make the buttons 45px wide
  margin: 0 10px; // add a little space between the buttons
  border-radius: 50%; // make the buttons round
  background: $indigo;  // make the buttons indigo
  display: flex;  // display the buttons as a flexbox
  justify-content: center;  // center the elements horizontally in the buttons
  align-items: center;  // center the elements vertically in the buttons
  font-size: 20px;  // make the font size 20px
  i {
    color: $grey-minimal; // make the icon color a minimal shade of grey
  }
  &:hover {
    background: $indigo-dark; // make the buttons a dark shade of indigo when hovered
  }
}
