.sheet-cover-letter {
  background: white;
  width: 900px;
  height: 1278px; // to get the exact ratio of an A4 sheet
  margin: 40px auto 700px auto;
  padding: 70px 100px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.sheet-cover-letter .cl-header {
  text-align: center;
}

.sheet-cover-letter .cl-entries {
  text-align: justify;
  font-size: 0.9rem;
}

.sheet-edit-cover-letter {
  position: fixed;
  bottom: 50px;
  background: white;
  width: 90vw;
  max-width: 1200px;
  height: 20vh;
  border-radius: 10px;
  border: 5px solid $indigo-dark;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  padding: 30px;
}


.sheet-edit-cover-letter .cl-edit-entries {
  display: column;
  height: 80%;
}

.cl-edit-entries .card-cl-entry {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $indigo-dark;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
