.cv-entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sheet-doc hr {
  margin: 5px 0;
}

.sheet-doc h4 {
  margin: 0;
}

.cv-entry-header p {
  margin: 0;
}

.cv-entry {
  position: relative;
  p {
    color: black;
  }
  &:hover {
    border-radius: 10px;
    padding: 10px;
    background-color: $indigo-light;
    .cv-entry-buttons {
      display: flex;
    }
  }
}

.cv-entry-buttons {
  position: absolute;
  top: calc(50% - 22.5px);
  right: calc(50% - 97.5px);
  display: none;
}

.cv-entry-buttons .icon-btn {
  height: 45px;
  width: 45px;
  margin: 0 10px;
  border-radius: 50%;
  background: $indigo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  i {
    color: $grey-minimal;
  }
  &:hover {
    background: $indigo-dark;
  }
}
