.cv-entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sheet-doc hr {
  margin: 5px 0;
}

.sheet-doc h4 {
  margin: 0;
}

.cv-entry-header p {
  margin: 0;
}
