<div class="container-l">
  <div class="header-page">
    <h1>My Applications</h1>
    <div class="icon-btn">
      <%= link_to "<i class='fa-solid fa-plus'></i>".html_safe, new_application_path %>
    </div>
  </div>
  <div style="text-align: right">
    <% sort = ['Company', 'Status', 'Date'] %>
    <p>Sort – <%= sort[1] %></p>
  </div>
  <% @applications.sort_by{|e| e.status}.each do |application| %>
    <%= render "applications/card_application", application: application %>
  <% end %>
</div>
