<div class="container-l"> <!-- create a container for the cover letters -->
  <div class="header-page"> <!-- create a header for the cover letters -->
    <h1>Saved Cover Letters</h1>  <!-- create a header for the cover letters -->
  </div>
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe + " " + "Back", coverletter_path %>  <!-- create a button to go back to the cover letters index -->
  <div class="spacer"></div>  <!-- create a spacer, to have a gap horizontally -->
  <% @cover_letters.each do |cover_letter| %> <!-- loop through the cover letters -->
    <%= render "cover_letters/card_cover_letter", cover_letter: cover_letter %> <!-- render the card for each cover letter -->
  <% end %> <!-- end the loop -->
</div>
