<div class="container-l">
  <div class="header-page">
    <h1>Saved Cover Letters</h1>
  </div>
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe + " " + "Back", coverletter_path %>
  <% @cover_letters.each do |cover_letter| %>
    <%= render "cover_letters/card_cover_letter", cover_letter: cover_letter %>
  <% end %>
</div>
