<div class="container-l">
  <div class="header-page">
    <h1>Saved Cover Letters</h1>
  </div>
  <%= render "shared/back_button" %>
  <div class="spacer"></div>
  <% @cover_letters.each do |cover_letter| %>
    <%= render "cover_letters/card_cover_letter", cover_letter: cover_letter %>
  <% end %>
</div>
