<div class="container-l">
  <div class="header-cover-letters">
    <h1>My Cover Letter</h1>
    <div class="btn-saved">
      <i href="#" class="fa-regular fa-bookmark"></i>
    </div>
  </div>
  <% @cover_letters.each do |cover_letter| %>
    <h3><%= cover_letter.company %></h3>
  <% end %>
</div>
