<div class="container-l"> <!-- create a container for the cover letter entries -->
  <div class="header-page"> <!-- create a header for the cover letter entries -->
    <h1>Edit Text Section</h1>
  </div>
  <%= render "shared/back_button" %>  <!-- render the back button -->
  <div class="sheet-application"> <!-- create a sheet for the cover letter entries -->
    <%= simple_form_for(@cover_letter_entry) do |f| %>  <!-- create a form for the cover letter entries -->
      <%= f.input :text, :input_html => { :rows => 6 } %> <!-- create an input field for the text, with 6 lines of space -->
      <div class="d-flex" style="margin-top: 50px"> <!-- create a submit button -->
        <%= f.button :submit, class:"button", style:"margin: 0 auto" %>
      </div>
    <% end %> <!-- end the form -->
  </div>
</div>
