// defining reusable containers with different sizes
.container-s {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
}

.container-m {
  width: 900px;
  margin: 0 auto;
  padding: 30px 0;
}

.container-l {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}


// Responsive sizes for mobile
@media (max-width: 1400px) {
  .container-l {
    width: 86vw;
  }

  .container-m {
    width: 86vw;
  }

  .container-s {
    width: 86vw;
  }
}
