.header-page {
  display: flex;  // display as flexbox  (this will make the elements in the header display side by side)
  justify-content: space-between; // space out the elements in the header
  align-items: center;  // center the elements vertically in the header
  margin-bottom: 8px; // add a little space below the header
}

.header-page .icon-btn {
  height: 45px; // make the buttons 45px tall
  width: 45px;  // make the buttons 45px wide
  margin-left: 15px;  // add a little space between the buttons
  border-radius: 50%; // make the buttons round
  background: $indigo;  // make the buttons indigo
  display: flex;  // display the buttons as a flexbox  (this will make the elements in the buttons display side by side)
  justify-content: center;  // center the elements horizontally in the buttons
  align-items: center;  // center the elements vertically in the buttons
  font-size: 20px;  // make the font size 20px
  i {
    color: $grey-minimal; // make the icon color a minimal shade of grey
  }
  &:hover {
    background: $indigo-dark; // make the buttons a dark shade of indigo when hovered
  }
}
