<div class="container-l">
  <div class="header-page">
    <h1>My Resume</h1>
    <div class="icon-btn">
      <i href="#" class="fa-regular fa-bookmark"></i>
    </div>
  </div>
<%# add iteration %>
</div>
