<div class="container-l">
  <div class="header-page">
    <h1>Saved Resumes</h1>
  </div>
  <%= render "shared/back_button" %>
  <div class="spacer"></div>
  <% @resumes.each do |resume| %>
    <%= render "resumes/card_resume", resume: resume %>
  <% end %>
</div>
